Repository YAPP-Github/Instead-BE, pull requests merged in 2025-01, with the labels that each got.

#8 chore: 네이버 check style 적용
  .editorconfig
  build.gradle
  config/checkstyle/naver-checkstyle-rules.xml
  config/checkstyle/naver-checkstyle-suppressions.xml
Labels: ⚙️ chore

#12 chore/11 멀티모듈 적용
  build.gradle
  module-common/.gitattributes
  module-common/.gitignore
  module-common/build.gradle
  module-common/gradle/wrapper/gradle-wrapper.jar
  module-common/gradle/wrapper/gradle-wrapper.properties
  module-common/gradlew
  module-common/gradlew.bat
  module-common/settings.gradle
  module-common/src/main/java/org/modulecommon/ModuleCommonApplication.java
  module-common/src/main/java/org/modulecommon/service/CommonService.java
  module-common/src/test/java/org/modulecommon/ModuleCommonApplicationTests.java
  module-sns/.gitattributes
  module-sns/.gitignore
  module-sns/build.gradle
  module-sns/gradle/wrapper/gradle-wrapper.jar
  module-sns/gradle/wrapper/gradle-wrapper.properties
  module-sns/gradlew
  module-sns/gradlew.bat
  module-sns/settings.gradle
  module-sns/src/main/java/org/modulesns/ModuleSnsApplication.java
  module-sns/src/main/java/org/modulesns/SnsController.java
  module-sns/src/main/resources/application-dev.yml
  module-sns/src/main/resources/application-prod.yml
  module-sns/src/main/resources/application-security.yml
  module-sns/src/main/resources/application.yml
  module-sns/src/test/java/org/modulesns/ModuleSnsApplicationTests.java
  settings.gradle
Labels: ⚙️ chore

#21 Chore/#15 main-application 모듈 CI/CD
  .github/workflows/main-appliction.yml
  application/main-application/build.gradle
  application/main-application/docker/Dockerfile
  application/main-application/docker/docker-compose.minipc.yml
  application/main-application/scripts/minipc-docker-deploy.sh
Labels: module: main-application

#24 chore: 엔티티 컬럼 속성 부여
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/Agent.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/PostImage.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/PromptHistory.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/PostGroup.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/PostGroupImage.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/type/PostLength.java
  domain/domain-module/src/main/java/org/domainmodule/rssfeed/entity/RssFeed.java
  domain/domain-module/src/main/java/org/domainmodule/rssfeed/entity/type/FeedCategory.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/Oauth.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/RefreshToken.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/User.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/type/ProviderType.java
Labels: 🥇P1, ⚙️ chore, module: domain

#25 Feature/auth/#10 Oauth2 구현
  application/main-application/build.gradle
  application/main-application/src/main/java/org/mainapplication/MainApplication.java
  application/main-application/src/main/java/org/mainapplication/domain/auth/controller/AuthController.java
  application/main-application/src/main/java/org/mainapplication/domain/auth/service/AuthService.java
  application/main-application/src/main/java/org/mainapplication/domain/auth/service/AuthServiceImpl.java
  application/main-application/src/main/java/org/mainapplication/domain/token/service/TokenService.java
  application/main-application/src/main/java/org/mainapplication/domain/token/service/TokenServiceImpl.java
  application/main-application/src/main/java/org/mainapplication/domain/user/service/UserService.java
  application/main-application/src/main/java/org/mainapplication/domain/user/service/UserServiceImpl.java
  application/main-application/src/main/java/org/mainapplication/global/config/WebSecurityConfig.java
  application/main-application/src/main/java/org/mainapplication/global/constants/HeaderConstants.java
  application/main-application/src/main/java/org/mainapplication/global/constants/UrlConstants.java
  application/main-application/src/main/java/org/mainapplication/global/constants/WebSecurityURI.java
  application/main-application/src/main/java/org/mainapplication/global/filter/JwtAuthenticationFilter.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/CustomUserDetails.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/handler/CustomOAuth2SuccessHandler.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/service/CustomOauth2UserService.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/userinfo/GoogleOAuth2UserInfo.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/userinfo/OAuth2UserInfo.java
  application/main-application/src/main/java/org/mainapplication/global/util/JwtUtil.java
  application/main-application/src/main/java/org/mainapplication/global/util/ResponseUtil.java
  application/main-application/src/main/java/org/mainapplication/health/HealCheckController.java
  application/main-application/src/main/resources/application.properties
  application/main-application/src/main/resources/application.yml
  domain/domain-module/build.gradle
  domain/domain-module/src/main/java/org/domainmodule/DomainModuleApplication.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/Oauth.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/RefreshToken.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/User.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/type/ProviderType.java
  domain/domain-module/src/main/java/org/domainmodule/user/repository/OauthRepository.java
  domain/domain-module/src/main/java/org/domainmodule/user/repository/RefreshTokenRepository.java
  domain/domain-module/src/main/java/org/domainmodule/user/repository/UserRepository.java
  domain/domain-module/src/main/resources/application.yml
  inner-system/security/.gitattributes
  inner-system/security/.gitignore
  inner-system/security/build.gradle
  inner-system/security/gradle/wrapper/gradle-wrapper.jar
  inner-system/security/gradle/wrapper/gradle-wrapper.properties
  inner-system/security/gradlew
  inner-system/security/gradlew.bat
  inner-system/security/settings.gradle
  inner-system/security/src/main/java/org/security/SecurityApplication.java
  inner-system/security/src/main/resources/application.properties
  inner-system/security/src/test/java/org/security/SecurityApplicationTests.java
  settings.gradle
Labels: 🚀 feature, module: main-application

#26 [#22] Feature: FeedClient 모듈 구현
  inner-system/feed-client/src/main/java/org/feedclient/FeedClientApplication.java
  inner-system/feed-client/src/main/java/org/feedclient/client/newsparser/NewsParserClient.java
  inner-system/feed-client/src/main/java/org/feedclient/client/newsparser/dto/NewsParserRequest.java
  inner-system/feed-client/src/main/java/org/feedclient/client/newsparser/dto/NewsParserResponse.java
  inner-system/feed-client/src/main/java/org/feedclient/client/rss/RssClient.java
  inner-system/feed-client/src/main/java/org/feedclient/client/rss/dto/RssResponse.java
  inner-system/feed-client/src/main/java/org/feedclient/client/rss/type/RssItem.java
  inner-system/feed-client/src/main/java/org/feedclient/config/ClientConfig.java
  inner-system/feed-client/src/main/java/org/feedclient/service/FeedService.java
  inner-system/feed-client/src/main/java/org/feedclient/service/FeedServiceImpl.java
  inner-system/feed-client/src/main/java/org/feedclient/service/dto/FeedPagingResult.java
  inner-system/feed-client/src/main/java/org/feedclient/service/type/FeedItem.java
  inner-system/feed-client/src/main/resources/application.properties
  inner-system/feed-client/src/main/resources/application.yml
  inner-system/feed-client/src/test/java/org/feedclient/client/NewsParserTest.java
  inner-system/feed-client/src/test/java/org/feedclient/client/RssClientTest.java
  inner-system/feed-client/src/test/java/org/feedclient/service/FeedServiceImplTest.java
Labels: 🚀 feature, module: feed-client

#30 [#29] Docs: swagger 적용
  application/main-application/build.gradle
  application/main-application/src/main/java/org/mainapplication/domain/auth/controller/AuthController.java
  application/main-application/src/main/java/org/mainapplication/global/config/SwaggerConfig.java
  application/main-application/src/main/java/org/mainapplication/global/config/WebSecurityConfig.java
  application/main-application/src/main/java/org/mainapplication/global/constants/WebSecurityURI.java
  application/main-application/src/main/java/org/mainapplication/health/HealCheckController.java
  application/main-application/src/main/resources/application-oauth.yml
  application/main-application/src/main/resources/application.yml
Labels: 📄 documentation, module: main-application

#28 [#27] Feature: OpenAiClient 모듈 구현
  inner-system/open-ai-client/src/main/java/org/openaiclient/OpenAiClientApplication.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/OpenAiClient.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/request/ChatCompletionRequest.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/request/type/RequestMessage.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/request/type/ResponseFormat.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/response/ChatCompletionResponse.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/response/type/Choice.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/response/type/ResponseMessage.java
  inner-system/open-ai-client/src/main/java/org/openaiclient/client/dto/response/type/Usage.java
  inner-system/open-ai-client/src/main/resources/application.properties
  inner-system/open-ai-client/src/main/resources/application.yml
  inner-system/open-ai-client/src/test/java/org/openaiclient/client/OpenAiClientTest.java
  inner-system/open-ai-client/src/test/java/org/openaiclient/client/TestResponse.java
Labels: 🚀 feature, module: openai-client

#33 [#32] MVP용 인증 구현 및 Oauth2 예외처리
  application/main-application/src/main/java/org/mainapplication/global/config/WebSecurityConfig.java
  application/main-application/src/main/java/org/mainapplication/global/filter/TestAuthenticationFilter.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/handler/CustomOAuth2FailureHandler.java
  application/main-application/src/main/java/org/mainapplication/global/util/JwtUtil.java
  application/main-application/src/main/resources/application-oauth.yml
Labels: ⚒️ refactor, module: common

#37 [#36] docs: 모듈에서 불필요한 파일 제거 & common 모듈 제거
  application/main-application/.gitattributes
  application/main-application/.gitignore
  application/main-application/gradlew
  application/main-application/gradlew.bat
  application/main-application/settings.gradle
  application/upload-schedule-application/.gitattributes
  application/upload-schedule-application/.gitignore
  application/upload-schedule-application/gradlew
  application/upload-schedule-application/gradlew.bat
  application/upload-schedule-application/settings.gradle
  common/common-module/.gitattributes
  common/common-module/.gitignore
  common/common-module/build.gradle
  common/common-module/gradle/wrapper/gradle-wrapper.jar
  common/common-module/gradle/wrapper/gradle-wrapper.properties
  common/common-module/gradlew
  common/common-module/gradlew.bat
  common/common-module/settings.gradle
  common/common-module/src/main/java/org/commonmodule/CommonModuleApplication.java
  common/common-module/src/main/resources/application.properties
  common/common-module/src/test/java/org/commonmodule/CommonModuleApplicationTests.java
  domain/domain-module/.gitattributes
  domain/domain-module/.gitignore
  domain/domain-module/gradlew
  domain/domain-module/gradlew.bat
  domain/domain-module/settings.gradle
  inner-system/feed-client/.gitattributes
  inner-system/feed-client/.gitignore
  inner-system/feed-client/gradlew
  inner-system/feed-client/gradlew.bat
  inner-system/feed-client/settings.gradle
  inner-system/open-ai-client/.gitattributes
  inner-system/open-ai-client/.gitignore
  inner-system/open-ai-client/gradlew
  inner-system/open-ai-client/gradlew.bat
  inner-system/open-ai-client/settings.gradle
  inner-system/sns-client/.gitattributes
  inner-system/sns-client/.gitignore
  inner-system/sns-client/gradlew
  inner-system/sns-client/gradlew.bat
  inner-system/sns-client/settings.gradle
Labels: 📄 documentation

#38 [#36] Docs: 모듈내에서 불필요한 파일제거 , build.gradle 옵션 설정
  application/main-application/build.gradle
  application/main-application/gradle/wrapper/gradle-wrapper.jar
  application/main-application/gradle/wrapper/gradle-wrapper.properties
  application/upload-schedule-application/build.gradle
  application/upload-schedule-application/gradle/wrapper/gradle-wrapper.jar
  application/upload-schedule-application/gradle/wrapper/gradle-wrapper.properties
  domain/domain-module/build.gradle
  domain/domain-module/gradle/wrapper/gradle-wrapper.jar
  domain/domain-module/gradle/wrapper/gradle-wrapper.properties
  inner-system/feed-client/build.gradle
  inner-system/feed-client/gradle/wrapper/gradle-wrapper.jar
  inner-system/feed-client/gradle/wrapper/gradle-wrapper.properties
  inner-system/open-ai-client/build.gradle
  inner-system/open-ai-client/gradle/wrapper/gradle-wrapper.jar
  inner-system/open-ai-client/gradle/wrapper/gradle-wrapper.properties
  inner-system/sns-client/build.gradle
  inner-system/sns-client/gradle/wrapper/gradle-wrapper.jar
  inner-system/sns-client/gradle/wrapper/gradle-wrapper.properties
Labels: 📄 documentation

#39 [#31] Feature: Global Exception 처리 & Global Response 형식 지정
  application/main-application/build.gradle
  application/main-application/src/main/java/org/mainapplication/domain/auth/controller/AuthController.java
  application/main-application/src/main/java/org/mainapplication/global/config/WebSecurityConfig.java
  application/main-application/src/main/java/org/mainapplication/global/constants/WebSecurityURI.java
  application/main-application/src/main/java/org/mainapplication/global/error/CustomException.java
  application/main-application/src/main/java/org/mainapplication/global/error/ErrorCodeStatus.java
  application/main-application/src/main/java/org/mainapplication/global/error/ErrorResponse.java
  application/main-application/src/main/java/org/mainapplication/global/error/GlobalExceptionHandler.java
  application/main-application/src/main/java/org/mainapplication/global/error/code/CommonErrorCode.java
  application/main-application/src/main/java/org/mainapplication/global/error/exception/CommonException.java
  application/main-application/src/main/java/org/mainapplication/global/filter/JwtAuthenticationFilter.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/handler/CustomAuthenticationEntryPoint.java
  application/main-application/src/main/java/org/mainapplication/global/oauth2/handler/CustomOAuth2FailureHandler.java
  application/main-application/src/main/java/org/mainapplication/global/response/GlobalResponse.java
  application/main-application/src/main/java/org/mainapplication/global/response/GlobalResponseAdvice.java
  application/main-application/src/main/java/org/mainapplication/health/HealCheckController.java
  application/main-application/src/main/resources/application.yml
  settings.gradle
Labels: 🚀 feature, module: common

#48 [#45] Feature: 게시물 생성 API 예외처리 및 에러코드 정의
  .gitignore
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/CreatePostsRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/global/error/CustomException.java
  application/main-application/src/main/java/org/mainapplication/global/error/GlobalExceptionHandler.java
  application/main-application/src/main/java/org/mainapplication/global/error/code/CommonErrorCode.java
  application/main-application/src/main/java/org/mainapplication/global/error/exception/CommonException.java
  application/main-application/src/main/java/org/mainapplication/global/response/GlobalResponseAdvice.java
  application/main-application/src/main/java/org/mainapplication/openai/contentformat/jsonschema/SummaryContentSchema.java
  application/main-application/src/main/java/org/mainapplication/openai/contentformat/response/SummaryContentFormat.java
  application/main-application/src/main/resources/application.yml
  application/main-application/src/test/java/org/mainapplication/domain/post/service/PostServiceTest.java
  application/main-application/src/test/java/org/mainapplication/openai/contentformat/jsonschema/SummaryContentSchemaTest.java
  domain/domain-module/src/main/java/org/domainmodule/rssfeed/exception/RssFeedNotFoundException.java
Labels: 🚀 feature, module: main-application

#52 [#51] Chore: Swagger 배포 테스트
  .github/workflows/main-appliction.yml
Labels: ⚙️ chore

#41 [#40] Feature: X 로그인, 토큰 관리, 자동 post 업로드
  application/main-application/build.gradle
  application/main-application/src/main/java/org/mainapplication/MainApplication.java
  application/main-application/src/main/java/org/mainapplication/domain/agent/service/AgentService.java
  application/main-application/src/main/java/org/mainapplication/domain/sns/token/SnsTokenService.java
  application/main-application/src/main/java/org/mainapplication/domain/sns/twitter/TwitterController.java
  application/main-application/src/main/java/org/mainapplication/domain/sns/twitter/TwitterService.java
  application/main-application/src/main/java/org/mainapplication/domain/user/service/UserService.java
  application/main-application/src/main/java/org/mainapplication/domain/user/service/UserServiceImpl.java
  application/main-application/src/main/java/org/mainapplication/global/constants/WebSecurityURI.java
  application/main-application/src/main/resources/application.yml
  application/upload-schedule-application/build.gradle
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/UploadScheduleApplication.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/config/SchedulerConfig.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/post/PostService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/schedule/PostSchedule.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/service/UploadPostService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/snstoken/SnsTokenService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/util/TimeUtil.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/util/dto/TimeRange.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/util/dto/UploadPostDto.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/util/mapper/SnsTokenMapper.java
  application/upload-schedule-application/src/main/resources/application.properties
  application/upload-schedule-application/src/main/resources/application.yml
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/Agent.java
  domain/domain-module/src/main/java/org/domainmodule/agent/repository/AgentRepository.java
  domain/domain-module/src/main/java/org/domainmodule/common/entity/BaseAuditEntity.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
  domain/domain-module/src/main/java/org/domainmodule/snstoken/entity/SnsToken.java
  domain/domain-module/src/main/java/org/domainmodule/snstoken/repository/SnsTokenRepository.java
  domain/domain-module/src/main/resources/application-domain.yml
  inner-system/sns-client/build.gradle
  inner-system/sns-client/src/main/java/org/snsclient/twitter/config/TwitterConfig.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/dto/response/BasicTokenDto.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/dto/response/TwitterToken.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/dto/response/TwitterUserInfoDto.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
  inner-system/sns-client/src/main/resources/application-sns.yml
  inner-system/sns-client/src/main/resources/application.properties
  inner-system/sns-client/src/test/java/org/snsclient/twitter/service/TwitterApiServiceTest.java
Labels: 🚀 feature, module: domain

#58 [#55] Chore: 멀티모듈 변경으로 인한 CI/CD 수정
  .github/workflows/main-appliction.yml
  application/main-application/docker/docker-compose.minipc.yml
  application/main-application/src/main/resources/application-oauth.yml
Labels: ⚙️ chore

#64 [#63] Feature: 뉴스 카테고리 목록 조회 API 구현
  application/main-application/src/main/java/org/mainapplication/domain/newscategory/controller/NewsCategoryController.java
  application/main-application/src/main/java/org/mainapplication/domain/newscategory/controller/response/NewsCategoryResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/newscategory/service/NewsCategoryService.java
Labels: 🚀 feature

#67 [#61] Chore: upload-schedule-application 모듈 배포
  .github/workflows/schedule-application.yml
  application/upload-schedule-application/build.gradle
  application/upload-schedule-application/docker/Dockerfile
  application/upload-schedule-application/docker/docker-compose.minipc.yml
  application/upload-schedule-application/scripts/minipc-docker-deploy.sh
Labels: ⚙️ chore, module: upload-application

#66 [#65] Feature: 게시물 그룹별 게시물 목록 조회 API 구현
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
Labels: 🚀 feature, module: main-application

#71 [#69] Feature: 게시물 개별 삭제 API 및 일괄 삭제 API 구현
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostTransactionService.java
Labels: 🚀 feature, module: main-application
