Repository YAPP-Github/Instead-BE, pull requests merged in 2025-02, with the labels that each got.

#77 [#76] Chore: 로컬, 배포 도메인 cors 허용
  application/main-application/src/main/java/org/mainapplication/global/constants/UrlConstants.java
Labels: ⚙️ chore

#79 [#78] Fix: 구글 Oauth2 로그인 시 sqlException 발생하는 오류 수정
  .github/workflows/main-appliction.yml
  application/main-application/build.gradle
  application/main-application/src/main/java/org/mainapplication/health/Controller.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/Oauth.java
  domain/domain-module/src/main/java/org/domainmodule/user/repository/OauthRepository.java
Labels: 🍡 bug, 🥇P1

#75 [#74] Feature: 게시물 프롬프트 기반 수정 API: 개별 수정
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostTransactionService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PromptHistoryService.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
Labels: 🚀 feature

#80 release/0.0.2
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostTransactionService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PromptHistoryService.java
  application/main-application/src/main/java/org/mainapplication/global/constants/UrlConstants.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/user/entity/Oauth.java
  domain/domain-module/src/main/java/org/domainmodule/user/repository/OauthRepository.java
Labels: ⚙️ chore

#81 Fix: 쿼리 오타 수정
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PromptHistoryRepository.java
Labels: 🍡 bug, 🥇P1

#82 [#73] Feature: 게시물 일반 수정 API 구현
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostBasicRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostsBasicRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/type/UpdatePostType.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/type/UpdatePostsRequestItem.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/type/UpdatePostsType.java
  application/main-application/src/main/java/org/mainapplication/domain/post/exception/PostErrorCode.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostTransactionService.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/PostImage.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostImageRepository.java
Labels: 🚀 feature, module: main-application

#83 [#35] Docs: UT용 API 명세 Swagger에 문서화
  application/main-application/src/main/java/org/mainapplication/aws/s3/controller/S3Controller.java
  application/main-application/src/main/java/org/mainapplication/aws/s3/controller/response/CreatePutUrlResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/newscategory/controller/response/NewsCategoryResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/CreatePostsRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/CreatePostsResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/PromptHistoriesRespone.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/PromptHistoriesResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostImageResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PromptHistoryService.java
  application/main-application/src/main/java/org/mainapplication/domain/sns/twitter/TwitterController.java
Labels: 📄 documentation, module: main-application

#85 [#84] Docs: UT 버전 API 명세 추가
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostBasicRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/UpdatePostsBasicRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/type/UpdatePostsBasicRequestItem.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/type/UpdatePostsRequestItem.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
Labels: 📄 documentation, module: main-application

#88 [#87]Feature: 프롬프트 일괄 수정 & 서버 도메인 CORS 에러 수정
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/MultiplePostUpdateRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/SinglePostUpdateRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostTransactionService.java
  application/main-application/src/main/java/org/mainapplication/global/config/WebSecurityConfig.java
  application/main-application/src/main/java/org/mainapplication/global/constants/UrlConstants.java
  application/main-application/src/main/java/org/mainapplication/global/constants/WebSecurityURI.java
Labels: 🍡 bug, 🚀 feature, module: main-application

#97 [#96] Feature: 그룹별 게시물 조회 API 응답 형식 수정 & 게시물 조회 시 응답에 이미지 누락되는 문제 해결
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/PostController.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/request/CreatePostsRequest.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/GetPostGroupPostsResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostGroupImageResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostGroupResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostImageResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/controller/response/type/PostResponse.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/PostService.java
  application/main-application/src/main/java/org/mainapplication/domain/post/service/vo/GeneratePostsVo.java
  application/main-application/src/main/java/org/mainapplication/openai/prompt/CreatePostPrompt.java
  application/main-application/src/test/java/org/mainapplication/domain/post/service/PostServiceTest.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/PostGroup.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/type/PostGroupLengthType.java
Labels: 🚀 feature, module: main-application

#100 [#99] Fix: 게시물 조회 시 잘못된 join 수정
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
Labels: 🍡 bug, module: main-application

#103 [#102] Chore: clean build 후 bootjar파일 생성 & fetch-depth으로 전체 커밋 내역 가져요기
  .github/workflows/main-appliction.yml
Labels: ⚙️ chore

#107 chore: 외부 모듈 수정 시 main모듈 자동배포
  .github/workflows/main-appliction.yml
  application/main-application/build.gradle
Labels: ⚙️ chore

#109 chore: fetch-depth: 0 최신 코드로 배포하도록 설정
  .github/workflows/main-appliction.yml
Labels: ⚙️ chore

#115 [#95] Refactor: sns 업로드 비동기 리펙토링
  application/main-application/src/main/java/org/mainapplication/domain/sns/token/SnsTokenService.java
  application/main-application/src/main/java/org/mainapplication/domain/sns/twitter/TwitterService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/config/AsyncConfig.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/post/PostService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/service/UploadPostService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/snstoken/SnsTokenService.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
Labels: ⚒️ refactor, module: main-application, module: sns-client

#125 [#119] Feature: Tweet Post 업로드 시 Image와 함께 업로드
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/post/PostService.java
  application/upload-schedule-application/src/main/java/org/uploadscheduleapplication/service/UploadPostService.java
  inner-system/sns-client/build.gradle
  inner-system/sns-client/src/main/java/org/snsclient/twitter/config/WebClientConfig.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
  inner-system/sns-client/src/main/java/org/snsclient/twitter/service/TwitterMediaUploadService.java
Labels: 🚀 feature, module: upload-application

#141 [#138] Style: 개발환경, 배포환경 logging 레벨 분리
  .env.example
  application/main-app/src/main/resources/application-aws.yml
  application/main-app/src/main/resources/application-dev.yml
  application/main-app/src/main/resources/application-prod.yml
  application/main-app/src/main/resources/application.yml
  domain/domain-module/src/main/resources/application-domain.yml
Labels: 📄 documentation

#148 [#145] Refactor: 토큰 재발급 로직 수정
  application/main-app/src/main/java/org/mainapp/domain/auth/controller/AuthController.java
  application/main-app/src/main/java/org/mainapp/domain/auth/service/AuthServiceImpl.java
  application/main-app/src/main/java/org/mainapp/domain/token/exception/TokenErrorCode.java
  application/main-app/src/main/java/org/mainapp/domain/token/service/TokenService.java
  application/main-app/src/main/java/org/mainapp/domain/token/service/TokenServiceImpl.java
  application/main-app/src/main/java/org/mainapp/global/config/WebSecurityConfig.java
  application/main-app/src/main/java/org/mainapp/global/constants/JwtProperties.java
  application/main-app/src/main/java/org/mainapp/global/filter/JwtAuthenticationFilter.java
  application/main-app/src/main/java/org/mainapp/global/filter/TestAuthenticationFilter.java
  application/main-app/src/main/java/org/mainapp/global/oauth2/handler/CustomOAuth2SuccessHandler.java
  application/main-app/src/main/java/org/mainapp/global/util/JwtUtil.java
  application/main-app/src/main/java/org/mainapp/global/util/ResponseUtil.java
  application/main-app/src/main/resources/application-oauth.yml
  domain/domain-module/src/main/java/org/domainmodule/user/entity/RefreshToken.java
Labels: 🚀 feature, ⚒️ refactor, module: main-application

#156 [#153] Feature: sns-client 패키지 구조 수정 및 sns 계정 AgentType 생성
  .env.example
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  application/schedule-app/src/main/java/org/scheduleapp/schedule/UploadPostService.java
  application/schedule-app/src/main/java/org/scheduleapp/snstoken/SnsTokenService.java
  clients/sns-client/src/main/java/org/snsclient/twitter/client/TwitterRestClient.java
  clients/sns-client/src/main/java/org/snsclient/twitter/config/Twitter4jConfig.java
  clients/sns-client/src/main/java/org/snsclient/twitter/config/WebClientConfig.java
  clients/sns-client/src/main/java/org/snsclient/twitter/dto/response/TwitterUserInfoDto.java
  clients/sns-client/src/main/java/org/snsclient/twitter/dto/response/TwitterUserResponse.java
  clients/sns-client/src/main/java/org/snsclient/twitter/service/Twitter4jService.java
  clients/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
  clients/sns-client/src/main/java/org/snsclient/twitter/service/TwitterGetMeService.java
  clients/sns-client/src/main/java/org/snsclient/twitter/service/TwitterMediaUploadService.java
  clients/sns-client/src/test/java/org/snsclient/twitter/service/Twitter4JServiceTest.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/Agent.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/type/AgentType.java
Labels: ⚒️ refactor, module: sns-client, module: domain

#160 [#159] Feature: 계정 목록 조회 API 구현
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/AgentController.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/GetAgentsResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/type/AgentResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/PromptHistoriesResponse.java
  application/main-app/src/main/java/org/mainapp/domain/token/service/TokenServiceImpl.java
  application/main-app/src/main/java/org/mainapp/domain/user/service/UserServiceImpl.java
  application/main-app/src/main/java/org/mainapp/global/constants/WebSecurityURI.java
  application/main-app/src/main/java/org/mainapp/global/util/JwtUtil.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/Agent.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/type/AgentPlanType.java
  domain/domain-module/src/main/java/org/domainmodule/agent/repository/AgentRepository.java
Labels: 🚀 feature, module: main-application

#162 [#161] Feature: 계정 상세 조회 API 구현
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/AgentController.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/GetDetailAgentResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/type/AgentPersonalSettingResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/type/AgentResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/exception/AgentErrorCode.java
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentTransactionService.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/AgentPersonalSetting.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/type/AgentToneType.java
  domain/domain-module/src/main/java/org/domainmodule/agent/repository/AgentPersonalSettingRepository.java
Labels: 🚀 feature, module: main-application

#167 [#164] Refactor: 게시물 상태값 그룹별로 그룹별 게시물 조회하도록 수정
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/GetPostGroupPostsResponse.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
  application/main-app/src/main/java/org/mainapp/global/filter/JwtAuthenticationFilter.java
Labels: ⚒️ refactor

#181 [#180] Refactor: 그룹별 게시물 조회 시 Post가 없는 Status는 빈 리스트로 리턴
  application/main-app/src/main/java/org/mainapp/domain/auth/service/AuthServiceImpl.java
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/GetPostGroupPostsResponse.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
Labels: ⚒️ refactor, module: main-application

#186 [#185] Feature: 계정별 예약 게시물 목록 조회 API
  application/main-app/src/main/java/org/mainapp/domain/post/controller/PostController.java
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/GetAgentReservedPostsResponse.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostTransactionService.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
Labels: 🚀 feature, module: main-application

#184 [#178] Feature: 서비스 사용자 정보 조회
  application/main-app/src/main/java/org/mainapp/domain/user/controller/UserController.java
  application/main-app/src/main/java/org/mainapp/domain/user/controller/response/UserInfoResponse.java
  application/main-app/src/main/java/org/mainapp/domain/user/service/UserService.java
  application/main-app/src/main/java/org/mainapp/domain/user/service/UserServiceImpl.java
Labels: 🚀 feature, module: main-application

#189 [#187] Feature: 단일 게시물 상세조회 API
  application/main-app/src/main/java/org/mainapp/domain/post/controller/PostController.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
Labels: 🚀 feature, module: main-application

#192 [#185] Refactor: sns 계정별 예약완료된 리스트 조회 ( fetch join )
  application/main-app/src/main/java/org/mainapp/domain/post/controller/PostController.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostTransactionService.java
  domain/domain-module/src/main/java/org/domainmodule/post/repository/PostRepository.java
Labels: ⚒️ refactor

#194 [#171]Feature: Agent 계정 요금제 타입 조회
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/AgentController.java
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/response/GetAgentPlanResponse.java
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  domain/domain-module/src/main/java/org/domainmodule/agent/repository/AgentRepository.java
Labels: 🚀 feature, module: main-application

#205 [#203] Fix: Post와 PromptHistory, PostImage orphanRemoval 설정
  application/main-app/src/main/java/org/mainapp/global/filter/JwtAuthenticationFilter.java
  domain/domain-module/src/main/java/org/domainmodule/post/entity/Post.java
Labels: 🍡 bug, module: main-application

#209 [#207] refactor: Twitter 로그인은 Jwt필터 거치도록 설정
  application/main-app/src/main/java/org/mainapp/global/constants/WebSecurityURI.java
Labels: 🍡 bug, ⚒️ refactor, module: main-application

#212 [#211] Feature: PostGroup 삭제 API
  application/main-app/src/main/java/org/mainapp/domain/post/controller/PostController.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
  domain/domain-module/src/main/java/org/domainmodule/postgroup/entity/PostGroup.java
Labels: 🚀 feature

#216 [#215] Refactor: 구글, 트위터 로그인 후 리다이렉트 URL적용
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/TwitterController.java
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/TwitterService.java
  application/main-app/src/main/java/org/mainapp/global/config/WebSecurityConfig.java
  application/main-app/src/main/java/org/mainapp/global/constants/UrlConstants.java
  application/main-app/src/main/java/org/mainapp/global/filter/JwtAuthenticationFilter.java
  application/main-app/src/main/java/org/mainapp/global/oauth2/handler/CustomOAuth2SuccessHandler.java
  application/main-app/src/main/java/org/mainapp/global/util/JwtUtil.java
Labels: ⚒️ refactor

#220 [#219] Refactor: cors @Bean 설정 적용
  application/main-app/src/main/java/org/mainapp/global/config/WebSecurityConfig.java
Labels: ⚒️ refactor, module: main-application

#223 [#222] Refactor: twitter 리다이렉트시 cors문제 해결
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/TwitterController.java
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/TwitterService.java
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/response/TwitterRedirectResponse.java
  application/main-app/src/main/java/org/mainapp/global/constants/WebSecurityURI.java
  clients/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
Labels: 🥇P1, module: main-application

#234 [#233] Docs: 트위터 계정 로그인/회원가입 로직변경 할 부분 TODO 등록
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
Labels: 📄 documentation

#229 [#228] Docs: 목적 설정에 따른 프롬프트 개별 설정
  application/main-app/src/main/java/org/mainapp/domain/agent/controller/request/UpdateAgentPersonalSettingRequest.java
  application/main-app/src/main/java/org/mainapp/domain/agent/service/AgentService.java
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/GetPostGroupPostsResponse.java
  application/main-app/src/main/java/org/mainapp/domain/post/controller/response/type/PostResponse.java
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostCreateService.java
  application/main-app/src/main/java/org/mainapp/openai/prompt/CreatePostPromptTemplate.java
  domain/domain-module/src/main/java/org/domainmodule/agent/entity/AgentPersonalSetting.java
Labels: 📄 documentation, module: main-application

#240 [#239] Chore: 배포 URL로 리다이렉트
  application/main-app/src/main/java/org/mainapp/domain/sns/twitter/TwitterService.java
  application/main-app/src/main/java/org/mainapp/global/config/WebSecurityConfig.java
  application/main-app/src/main/java/org/mainapp/global/oauth2/handler/CustomOAuth2SuccessHandler.java
Labels: ⚙️ chore

#242 Refactor: https requrie 비활성화
  application/main-app/src/main/java/org/mainapp/global/config/WebSecurityConfig.java
Labels: 🍡 bug, 🥇P1, ⚙️ chore

#263 [#262] Style: 프론트 배포 도메인 변경
  application/main-app/src/main/java/org/mainapp/global/constants/UrlConstants.java
Labels: 📄 documentation

#260 [#259] Refactor: displayOrder가 변경되어도 updatedAt 갱신안되도록 수정
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostUpdateService.java
  domain/domain-module/src/main/java/org/domainmodule/common/entity/BaseAuditEntity.java
Labels: ⚒️ refactor, module: main-application, module: domain

#265 [#261] Refactor: post 내용 변경 시 상태값 EDITING으로 변경
  application/main-app/src/main/java/org/mainapp/domain/post/service/PostService.java
Labels: ⚒️ refactor, module: main-application

#277 [#276] Refactor: 트위터 로그인 시 계정 선택화면이 나오도록 수정
  clients/sns-client/src/main/java/org/snsclient/twitter/service/TwitterApiService.java
Labels: ⚒️ refactor
